
<div class="container">
    <div style="margin-top: 150px;">
        {{!-- <button style="display: flex; align-items = start" id="btn_add" value="true" onclick="addBlog()">Add Blog</button> --}}
        <div class="add_blog">
            <form method="POST" action="/blog/add">
                <div><p>Title<p><input type="text" name="title"/></div>
                <div><p>Content</p><textarea name="content" style="max-width: 400px; min-height: 200px; min-width: 400px" rows="4" cols="50"></textarea></div>
                <input style="width: 100px; height: 40px" type="submit" value="Upload"/>
            </form>
        </div>
        {{#each blogs}}
        <div class="content-blog">
            <div style="display: flex; align-items: center">
                <h1 class="red">{{title}}</h1>
                <form action="/blog/delete/{{id}}" method="DELETE">
                    <input type="submit" value="Delete">
                </form>
            </div>
            <div class="content">
                <p>{{content}}</p> 
            </div>
            <div class="comment">
                <hr style="width: 400px"/>
                <h3>Comments:</h3>
                <ul style="list-style-type:disc">
                {{#each comments}}
                <li><p></p>{{content}}</p></li>
                {{/each}}
                </ul>
                <form action="/comment/add" method="POST">
                    <input type="hidden" name="idBlog" value={{id}}>
                    Comment: <input type="text" name="contentComment">
                    <input type="submit" value="Add comment">
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script>
    const element = document.getElementById('btn_add')
    const elementAdd = document.querySelector('.add_blog')
    function addBlog () {
        var btn = element.value
        if(btn === 'true') {
            elementAdd.style.display = 'none'
            element.value = 'false'
        } else {
            elementAdd.style.display = 'block'
            element.value = 'true'
        }
    }
</script>
